.bio {
  display: flex;
  align-items: center;
}

.avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--main-dark) 0px 2px 5px 0px;
  flex-shrink: 0;
}

.avatar > img {
  height: 100%;
  max-width: unset;
  margin: 0;
}

.text {
  margin-left: 1rem;
}

.text > * {
  margin: 0.2rem;
}

.text > p {
  color: var(--main-subtle);
}

.iconrow {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.iconrow > * {
  margin-right: 1.3rem;
}
