body {
  --main-bgcolor: #fafaff;
  --main-color: #1f2a56;
  --main-subtle: #555577;
  --main-moresubtle: rgba(0, 0, 0, 0.2);
  --main-dark: #111525;
  --main-linkcolor: #cc4733;
  --main-opaque: rgba(0, 0, 0, 0.08);

  --mq-small: 550px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bgcolor);
  color: var(--main-color);
}

body.dark {
  --main-color: #efefff;
  --main-bgcolor: #1f2a56;
  --main-subtle: #bbbbdd;
  --main-moresubtle: rgba(255, 255, 255, 0.2);
  --main-dark: #111525;
  --main-linkcolor: #cc4733;
  --main-opaque: rgba(0, 0, 0, 0.2);
}

*:focus {
  outline-color: var(--main-linkcolor);
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: 2px;
}

main,
footer {
  max-width: 38.4rem;
  margin: 0 auto;
  padding: 1.3rem;
}

footer {
  margin-top: 3rem;
}

/* Custom Elements */

code[class*="language-"],
pre[class*="language-"] {
  font-size: 90%;
}

hr {
  background: var(--main-subtle);
}

small {
  color: var(--main-subtle);
  font-size: 85%;
}

h1,
h2 {
  margin-bottom: 0.75rem;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

p {
  letter-spacing: 0.2px;
}

a {
  color: var(--main-linkcolor);
  transition: all ease 0.25s;
  position: relative;
}

a:active,
a:hover {
  color: var(--main-color);
}
a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--main-linkcolor);
  visibility: hidden;
  transition: all 0.35s ease;
}
a:hover::before {
  visibility: visible;
  width: 100%;
}

blockquote {
  border-left: 0.3rem solid var(--main-color);
  color: var(--main-color);
}

table * {
  border-color: var(--main-subtle);
}

.copy {
  color: var(--main-moresubtle);
}
