.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.thumbnail {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.hlist {
  display: flex;
  align-items: center;
}

.chip {
  color: var(--main-subtle);
  border-radius: 10%;
  background-color: var(--main-opaque);
  margin: 0 0.25rem;
  padding: 0 0.3rem;
}
